<div class="footer-bottom bg-dark text-white text-sm-center">
    <div class="container">
       <div class="row ">
          <div class="col-lg-6">
             <p class="text-sm-center">© Agency2023. All rights reserved</p>
          </div>
          <div class="col-lg-6">
             <p class="text-sm-center">Created with ❤️ by calabar</p>
          </div>
       </div>
    </div>
 </div>
</footer>

<!-- Optional JavaScript; choose one of the two! -->
<script src="/stylesheet/jsb/bootstrap.bundle.min.js"></script>
</body>
</html>