<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS/box icon -->

    <link rel="shortcut icon" href="/img/images (5).jpg" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheet/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/css/boxicons.min.css">
    <link rel="stylesheet" href="/stylesheet/css/style.css">    

    <title>E-fast service</title>
  </head>
  <body data-bs-spy="scroll" data-bs-target=".navbar">
    
   <nav class="navbar fixed-top justify-content-center navbar-expand-lg navbar-light bg-white">

      <div class="container">
        
        <a class="navbar-brand logo-text" href="#">E-Fast service</a>
        <button class="navbar-toggler " 
                     type="button" data-bs-toggle="collapse" 
                     data-bs-target="#navbarNav" 
                     aria-controls="navbarNav" 
                     aria-expanded="false" 
                     aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
             <li class="nav-item">
              <a class="nav-link" href="#home">Home</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/services">Services</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#team">Team</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="login">login</a>
             </li>
             <li class="nav-sign">
               <div class="btn-group">
                <a href="/signup"> <button class="btn btn-primary">Sign up</button></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="contact">Contact</a>
             </li>
          </ul>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/user"><i class=' account bx bx-user-circle'></i></a>
         </li>
        </ul>
      </div>
    </nav>