
<style>
.footer-bottom {
  margin-top: 20px;
  text-align: center;
  color: #6c757d;
}
</style>
<footer>
<div class="footer-bottom">
    <p>&copy; 2023 E-fast Service. Created with ❤️ by <a href="https://www.facebook.com/profile.php?id=100091819685676&mibextid=LQQJ4d" target="_blank">The N-bBrother's Tech</a> rights reserved.</p>
  </div>
</footer>
