
<style>
.footer-bottom {
  margin-top: 20px;
  text-align: center;
  color: #6c757d;
}
</style>
<footer>
<div class="footer-bottom">
    <p>&copy; 2023 E-fast Service. Created with ❤️ by The N-bBrother's Tech  rights reserved.</p>
  </div>
</footer>
