<%- include('partials/header'); -%>

<section id="home">
    <div class="container text-center">
       <div class="row justify-content-center">
          <div class="col-md-10">
             <h1 class="text-white display-4">E-Fast Service</h1>
             <p class="text-white">Your one-stop solution for urgent services. Experience 
                the Unparalleled Convenience of E-Fast Service: A Comprehensive Platform 
                Providing Instant Access to a Wide Range of Urgent Services for Individuals 
                and Businesses, Simplifying Your Life and Empowering You with Seamless Solutions.</p>
             <h3 class="homeh3">become a member by</h3>
             <a href="/getStarted"><button type="button" class="btn mt-3 btn-success">create an account</button></a>
             <a href="/login"><button type="button" class="btn mt-3 btn-outline-primary">login</button></a>
          </div>
       </div>
    </div>
 </section>

 <section id="services">
    <div class="container">
       <div class="row">
          <div class="col-12 section-intro">
             <h1>Services offered</h1>
             <div class="hline"></div>
          </div>
       </div>
       <div class="row justify-content-center text-center text-lg-start">
          <div class="col-lg-4 col-sm-6 p-4 shadow hover">
             <div class="icon-box">
                <i class='bx bxs-landscape'></i>
             </div>
             <h4 class="title-sm mt-4">house cleaning</h4>
             <p>Professional and thorough cleaning services for your home, ensuring a clean and comfortable living environment.</p>
          </div>
          <div class="col-lg-4 col-sm-6 p-4 shadow hover">
             <div class="icon-box">
                <i class='bx bxs-coffee'></i>
             </div>
             <h4 class="title-sm mt-4">Haircut and Styling</h4>
             <p>Professional haircuts and styling services to keep you looking your best.</p>
          </div>
          <div class="col-lg-4 col-sm-6 p-4 shadow hover">
             <div class="icon-box">
                <i class='bx bxs-image'></i>
             </div>
             <h4 class="title-sm mt-4">errand running</h4>
             <p>Assistance with running various errands such as grocery shopping, picking up prescriptions, or mailing packages, saving you time and effort.</p>
          </div>
          <div class="col-lg-4 col-sm-6 p-4 shadow hover">
             <div class="icon-box">
                <i class='bx bxs-check-shield'></i>
             </div>
             <h4 class="title-sm mt-4">laundry and dry cleaning</h4>
             <p>Convenient and reliable laundry services, including washing, drying, and folding, as well as specialized dry cleaning for delicate fabrics.</p>
          </div>
          <div class="col-lg-4 col-sm-6 p-4 shadow hover">
             <div class="icon-box">
                <i class='bx bxs-happy-heart-eyes'></i>
             </div>
             <h4 class="title-sm mt-4">event planning</h4>
             <p> Expert event planners to assist in organizing and coordinating special occasions, ensuring a memorable and seamless experience.</p>
          </div>
          <div class="col-lg-4 col-sm-6 p-4 shadow hover">
             <div class="icon-box">
                <i class='bx bx-laptop'></i>
             </div>
             <h4 class="title-sm mt-4">computer repairs and it support</h4>
             <p> Professional computer repair services and IT support for troubleshooting hardware and software issues, ensuring the smooth operation of your devices.</p>
          </div>
       </div>
    </div>
    <div class="seemore text-center mt-4">
       <a href="/user"><button type="button" class="btn btn-primary">see more</button></a>
    </div>
 </section>

 <section id="portfolio" class="row g-0 py-0">
    <div class="col-lg-4 col-sm-6">
       <div class="portfolio-item">
             <img src="img/p1.jpg" alt="">
             <div class="portfolio-overlay">
                <div>
                   <h3>tech connect</h3>
                   <h6>Connecting People and Technology for a Digital Future</h6>
                </div>
             </div>
       </div>
    </div>
    <div class="col-lg-4 col-sm-6">
       <div class="portfolio-item">
             <img src="img/p2.jpg" alt="">
             <div class="portfolio-overlay">
                <div>
                   <h3>SmartLiving</h3>
                   <h6>Enhancing Lives Through Innovative and Connected Solutions</h6>
                </div>
             </div>
       </div>
    </div>
    <div class="col-lg-4 col-sm-6">
       <div class="portfolio-item">
             <img src="img/p3.jpg" alt="">
             <div class="portfolio-overlay">
                <div>
                   <h3>eco solutions</h3>
                   <h6>Sustainable Technologies for a Greener Tomorrow</h6>
                </div>
             </div>
       </div>
    </div>
    <div class="col-lg-4 col-sm-6">
       <div class="portfolio-item">
             <img src="img/p4.jpg" alt="">
             <div class="portfolio-overlay">
                <div>
                   <h3>health tech plus</h3>
                   <h6>Transforming Healthcare with Cutting-edge Technology </h6>
                </div>
             </div>
       </div>
    </div>
    <div class="col-lg-4 col-sm-6">
       <div class="portfolio-item">
             <img src="img/p5.jpg" alt="">
             <div class="portfolio-overlay">
                <div>
                   <h3>future lab</h3>
                   <h6>Exploring Tomorrow's Possibilities Today</h6>
                </div>
             </div>
       </div>
    </div>
    <div class="col-lg-4 col-sm-6">
       <div class="portfolio-item">
             <img src="img/p6.jpg" alt="">
             <div class="portfolio-overlay">
                <div>
                   <h3>data xpert</h3>
                   <h6>Empowering Businesses with Data-driven Insights and Analytics</h6>
                </div>
             </div>
       </div>
    </div>
 </section>

 <section id="features">
    <div class="container">
       <div class="row">
          <div class="col-12 section-intro">
             <h1>Our Features</h1>
             <div class="hline"></div>
          </div>
       </div>
       <div class="row gy-4">
          <div class="col-lg-4 col-sm-6 p-4 feature d-flex hover">
             <div class="icon-box me-3">
                <i class="bx bx-check"></i>
             </div>
             <div>
                <h5 class="title-sm">user-friendly interface</h5>
                <p>Our project boasts a user-friendly interface that ensures easy navigation and seamless interaction, allowing users to access services and perform tasks with convenience.</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6 p-4 feature d-flex hover">
             <div class="icon-box me-3">
                <i class="bx bx-check"></i>
             </div>
             <div>
                <h5 class="title-sm">Wide Range of Services</h5>
                <p>E-Fast Service covers a diverse array of urgent services, ensuring that individuals in different critical situations can access the help they need promptly.
               </p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6 p-4 feature d-flex hover">
             <div class="icon-box me-3">
                <i class="bx bx-check"></i>
             </div>
             <div>
                <h5 class="title-sm">Real-Time Assistance</h5>
                <p>E-Fast Service ensures that users receive immediate responses and support, minimizing the stress and anxiety associated with urgent situations.
               </p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6 p-4 feature d-flex hover">
             <div class="icon-box me-3">
                <i class="bx bx-check"></i>
             </div>
             <div>
                <h5 class="title-sm">Geo-location Integration</h5>
                <p>The application leverages geolocation technology to connect users with nearby service providers, reducing response times and enhancing efficiency.
               </p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6 p-4 feature d-flex hover">
             <div class="icon-box me-3">
                <i class="bx bx-check"></i>
             </div>
             <div>
                <h5 class="title-sm">account management</h5>
                <p>The project provides user account management features, allowing users to create and customize their profiles, store preferences, manage bookings, and track service history, ensuring a personalized and organized experience.</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6 p-4 feature d-flex hover">
             <div class="icon-box me-3">
                <i class="bx bx-check"></i>
             </div>
             <div>
                <h5 class="title-sm">Ratings and Reviews</h5>
                <p> To ensure transparency and accountability, our project includes a ratings and reviews system. Users can provide feedback and rate service providers based on their experiences, helping others make informed decisions and maintaining service quality standards.</p>
             </div>
          </div>
       </div>
    </div>
 </section>

 <section id="team" class="row g-0 py-0 text-center">
    <div class="col-lg-3 col-sm-6 team-member">
       <div class="team-member-img">
          <img src="/img/calabar.JPG" alt="">
          <div class="social-icons">
             <a href="#"><i class="bx bxl-facebook"></i></a>
             <a href="#"><i class="bx bxl-whatsapp"></i></a>
             <a href="#"><i class="bx bxl-twitter"></i></a>
             <a href="#"><i class="bx bxl-instagram"></i></a>
             <a href="#"><i class="bx bxl-github"></i></a>
          </div>
       </div>
       <div class="p-4">
          <h5 class="title-sm mt-3 mb-0 text-white">emmanuel yohanna</h5>
          <small class="text-white">Web Designer/development expert</small>
          <div class="hline"></div>
          <p class="text-white">emmanuel is a highly skilled web developer with extensive experience in front-end and back-end development. He is proficient in HTML, CSS, JavaScript, and various web frameworks. John excels in creating responsive and user-friendly web interfaces, implementing complex functionality, and optimizing website performance.</p>
       </div>
    </div>
    <div class="col-lg-3 col-sm-6 team-member even">
       <div class="team-member-img">
          <img src="/img/team-2.jpg" alt="">
          <div class="social-icons">
             <a href="#"><i class="bx bxl-facebook"></i></a>
             <a href="#"><i class="bx bxl-whatsapp"></i></a>
             <a href="#"><i class="bx bxl-twitter"></i></a>
             <a href="#"><i class="bx bxl-instagram"></i></a>
             <a href="#"><i class="bx bxl-github"></i></a>
          </div>
       </div>
       <div class="p-4">
          <h5 class="title-sm mt-3 mb-0 text-white">judith david</h5>
          <small class="text-white">Digital Marketing Specialist</small>
          <div class="hline"></div>
          <p class="text-white">judith is a talented digital marketing specialist with a deep understanding of online marketing strategies and techniques. She possesses expertise in search engine optimization (SEO), social media marketing, content creation, and data analysis. judith is skilled at crafting effective marketing campaigns, driving organic traffic, and increasing brand visibility.</p>
       </div>
    </div>
    <div class="col-lg-3 col-sm-6 team-member">
       <div class="team-member-img">
          <img src="/img/team-1.jpg" alt="">
          <div class="social-icons">
             <a href="#"><i class="bx bxl-facebook"></i></a>
             <a href="#"><i class="bx bxl-whatsapp"></i></a>
             <a href="#"><i class="bx bxl-twitter"></i></a>
             <a href="#"><i class="bx bxl-instagram"></i></a>
             <a href="#"><i class="bx bxl-github"></i></a>
          </div>
       </div>
       <div class="p-4">
          <h5 class="title-sm mt-3 mb-0 text-white">salim imuzai</h5>
          <small class="text-white">Mobile App Developer</small>
          <div class="hline"></div>
          <p class="text-white">salim is a skilled mobile app and backend developer with a strong background in iOS and Android app development. He has expertise in programming languages such as c##, python, Javascript, and php, and is proficient in utilizing various mobile app development frameworks and tools. salim excels in creating intuitive and feature-rich mobile applications that deliver exceptional user experiences.</p>
       </div>
    </div>
    <div class="col-lg-3 col-sm-6 team-member even">
       <div class="team-member-img">
          <img src="img/team-3.jpg" alt="">
          <div class="social-icons">
             <a href="#"><i class="bx bxl-facebook"></i></a>
             <a href="#"><i class="bx bxl-whatsapp"></i></a>
             <a href="#"><i class="bx bxl-twitter"></i></a>
             <a href="#"><i class="bx bxl-instagram"></i></a>
             <a href="#"><i class="bx bxl-github"></i></a>
          </div>
       </div>
       <div class="p-4">
          <h5 class="title-sm mt-3 mb-0 text-white">Abdullahi Ahmed</h5>
          <small class="text-white">Customer Support Representative</small>
          <div class="hline"></div>
          <p class="text-white">Emily is a dedicated customer support representative with excellent communication and problem-solving skills. She is highly proficient in handling customer inquiries, resolving issues, and providing exceptional customer service. Emily is adept at managing customer relationships, ensuring customer satisfaction, and maintaining a positive and professional image for the project.</p>
       </div>
    </div>
 </section>


 <section id="testimonials" class="text-center">
    <div class="container">
       <div class="row">
          <div class="col-12">

             <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
                <li class="nav-items" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                     <img src="img/team-3.jpg" alt="">
                  </button>
                </li>
                <li class="nav-items" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                   <img src="img/team-2.jpg" alt="">
                  </button>
                </li>
                <li class="nav-items" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                   <img src="img/team-8-800x800.jpg" alt="">
                  </button>
                </li>
              </ul>

              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                   <div class="review">
                      <div class="stars">
                         <i class="bx bxs-star"></i>
                         <i class="bx bxs-star"></i>
                         <i class="bx bxs-star"></i>
                         <i class="bx bxs-star"></i>
                         <i class="bx bx-star"></i>
                      </div>
                      <p class="lead">I was in urgent need of a mechanic, and E-Fast Service came to the rescue. The platform connected me with a skilled mechanic in my area within minutes. They arrived promptly and quickly fixed the issue with my car. I'm impressed with the convenience and quality of service. E-Fast Service is a game-changer!</p>
                      <h5 class="title-sm mb-0">david</h5>
                      <small></small>
                   </div>


                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                   <div class="review">
                      <div class="stars">
                         <i class="bx bxs-star"></i>
                         <i class="bx bxs-star"></i>
                         <i class="bx bxs-star"></i>
                         <i class="bx bx-star"></i>
                         <i class="bx bx-star"></i>
                      </div>
                      <p class="lead">I have been using E-Fast Service for my laundry needs, and I am extremely satisfied with their service. The app is user-friendly, making it easy to schedule and track my laundry. The clothes are always returned fresh, clean, and neatly folded. E-Fast Service has saved me time and effort. Highly recommended!</p>
                      <h5 class="title-sm mb-0">sarah</h5>
                      <small></small>
                   </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                   <div class="review">
                      <div class="stars">
                         <i class="bx bxs-star"></i>
                         <i class="bx bxs-star"></i>
                         <i class="bx bx-star"></i>
                         <i class="bx bx-star"></i>
                         <i class="bx bx-star"></i>
                      </div>
                      <p class="lead">I have been relying on E-Fast Service for all my house cleaning needs, and they never disappoint. The cleaning professionals are thorough, detail-oriented, and leave my home spotless every time. I appreciate the convenience of scheduling and the high level of professionalism displayed by the service providers. E-Fast Service is my go-to for a clean and tidy home!</p>
                      <h5 class="title-sm mb-0">lisa</h5>
                      <small>Web Developer</small>
                   </div>
                </div>
              </div>
          </div>
       </div>
    </div>
 </section>

 <section id="clients" class="bg-light">
    <div class="container">
       <div class="row gy-4">
          <div class="col-lg-2 col-md-3 col-6">
             <img src="/img/logo1.svg" alt="">
          </div>
          <div class="col-lg-2 col-md-3 col-6">
             <img src="img/logo2.svg" alt="">
          </div>
          <div class="col-lg-2 col-md-3 col-6">
             <img src="img/logo3.svg" alt="">
          </div>
          <div class="col-lg-2 col-md-3 col-6">
             <img src="img/logo4.svg" alt="">
          </div>
          <div class="col-lg-2 col-md-3 col-6">
             <img src="img/logo5.svg" alt="">
          </div>
          <div class="col-lg-2 col-md-3 col-6">
             <img src="img/logo1.svg" alt="">
          </div>
       </div>
    </div>
 </section>

 <section id="cta" class="py-5">
    <div class="container py-4">
       <div class="row justify-content-center">
          <div class="col-md-6">
             <h3 class="text-white">Efficient, Reliable, and Convenient Services at Your Fingertips</h3>
          </div>
          <div class="col-auto">
             <a href="/getStarted" class="btn btn-light">Get Started</a>
          </div>
       </div>
    </div>
 </section>

 <footer>
    <div class="footer-top">
       <div class="container">
          <div class="row gy-5 text-center text-lg-start">
             <div class="col-md-4">
                <h4 class="logo-text">e-fast service</h4>
                <p>Welcome to E-Fast Service: The Cutting-Edge Platform that Empowers You with Swift, Reliable, and All-Inclusive Services, Addressing Your Urgent Needs, Simplifying Complex Tasks, and Unleashing the True Potential of Efficiency and Convenience in Your Daily Routine, Allowing You to Focus on What Truly Matters.</p>
                <div class="social-icons">
                   <a href="#"><i class="bx bxl-facebook"></i></a>
                   <a href="#"><i class="bx bxl-whatsapp"></i></a>
                   <a href="#"><i class="bx bxl-twitter"></i></a>
                   <a href="#"><i class="bx bxl-instagram"></i></a>
                   <a href="#"><i class="bx bxl-github"></i></a>
                </div>
             </div>
             <div class="col-md-2">
                <h5 class="title-sm">Nav</h5>
                <div class="footer-links">
                   <a href="/services">Services</a>
                   <a href="#"> Work</a>
                   <a href="#">Team</a>
                   <a href="#">Blog</a>
                </div>
             </div>
             <div class="col-md-2">
                <h5 class="title-sm">More</h5>
                <div class="footer-links">
                   <a href="#">FAQ's</a>
                   <a href="#">Privacy & Policy</a>
                   <a href="#">Liscences</a>
                </div>
             </div>
             <div class="col-md-2">
                <h5 class="title-sm">Contact</h5>
                <div class="footer-links">
                   <p class="mb">no.13 numana mercyland street gonin gora kaduna</p>
                   <p class="mb">+2347043160292</p>
                   <p class="mb">hello@yourdomain.com</p>
                </div>
             </div>
          </div>
       </div>
    </div>

    <%- include('partials/footer'); -%>