
<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Login</title>
    <!-- Font awesome CDN Link -->
    <link rel="stylesheet" href="/stylesheet/css/boxicons.min.css">
    <link rel="stylesheet" href="../stylesheet/css/signupLogin.css"> 
   </head>
<body>
  <body>
    <div class="form-wrapper">
      <div class="wrapper">
        <div class="icon">
          <i class='bx bxs-user'></i>
        </div>
        <div class="title">
           Login 
        </div>
        <form action="/login">
          <div class="email error"></div>
          <div class="password error"></div>
           <div class="field">
              <input type="text" name="email" required/>
              <label>E-mail</label>
           </div>
           <div class="field">
              <input type="password" name="password" required/>
              <label>Password</label>
           </div>
           <div class="content">
              <div class="checkbox">
                 <input type="checkbox" id="remember-me">
                 <label for="remember-me">Remember me</label>
              </div>
              <div class="pass-link">
                 <a href="#">Forgot password?</a>
              </div>
           </div>
           <div class="field">
              <input type="submit" value="Login">
           </div>
           <div class="signup-link">
              Not a member? <a href="/signup">Signup</a>
           </div>
        </form>
     </div>
    </div>
 
<script>     

const form = document.querySelector('form');


  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');


  form.addEventListener('submit', async (e) => {
    e.preventDefault();


    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';


    // get values
    const email = form.email.value;
    const password = form.password.value;


    try {
      const res = await fetch('/login', { 
        method: 'POST', 
        body: JSON.stringify({ email, password }),
        headers: {'Content-Type': 'application/json'}
      });


      const data = await res.json();
      console.log(data);


      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign('/user');
      }

    }
    catch (err) {
      console.log(err);
    }
  });


</script>
</body>
</html>